.section__header {
    height: 80vh;
    margin-top: 10vh;
    margin-bottom: 8vh;

    background-size: cover;
    color: #fff;

    @media screen and (min-width: 1025px) {
        background-attachment: fixed;
    }

    .link {
        color: inherit;
    }
}
