.section__header {
    width: 100%;
    position: relative;
    margin: 0 auto;
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    //margin-top: 10vh;
    margin-bottom: 8vh;
    color: #fff;
}
