.section__header_picture_faroe {

    @media screen and (min-width: 0px) and (max-width: 480px) {
        background-image: url(/resources/images/section-1-faroe-mobile-700.jpeg);
    }

    @media screen and (min-width: 481px) and (max-width: 800px) {
        background-image: url(/resources/images/section-1-faroe-pad-1000.jpeg);
    }

    @media screen and (min-width: 801px) and (max-width: 1024px) {
        background-image: url(/resources/images/section-1-faroe-pad-1000.jpeg);
    }

    @media screen and (min-width: 1025px) {
        background-image: url(/resources/images/section-1-faroe-1680.jpeg);
    }


}
