.section__quote {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.3rem;
    border-left: 5px solid #f9f0f0;
    max-width: 470px;
    width: 35%;
    margin: 0 auto;
    float: right;
    clear: both;
    position: absolute;
    right: 0px;
}
