.section__layout-text{
    @media screen and (min-width: 0px) and (max-width: 1024px) {
        margin: 5% auto;
    }

    @media screen and (min-width: 1025px) {
        width: 55%;
        max-width: 730px;
        margin-left: 40px;
        margin-right: 10%;
    }
}
